{% extends "GenemuDoctrineExtraBundle::base.html.twig" %}

{% block links %}
<link href="{{ asset('bundles/genemudoctrineextra/css/base.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/genemudoctrineextra/css/index.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock links %}

{% block body %}
<h1>{% trans %}Routing Manager{% endtrans %}</h1>
<ul id="routings">
    {% for routing in routings %}
        {% set publish = routing.publish?'Unpublish':'Publish' %}
        <li class="routing {{ loop.index is divisibleby(2)?'even':'odd' }}">
            <div class="description">
                <p><strong>{% trans %}Name{% endtrans %} :</strong> {{ routing.name }}</p>
                <p class="name"><strong>{% trans %}patterns{% endtrans %} :</strong></p>
                {% for pattern in routing.patterns %}
                <p class="pattern"><strong>{{ pattern.locale }} :</strong> {{ pattern.name }}</p>
                {% endfor %}
                <p class="name"><strong>{% trans %}_controller{% endtrans %} :</strong> {{ routing.method }}</p>
                <p><strong>{% trans %}Template{% endtrans %} :</strong> {{ routing.view }}</p>
            </div>
            <div class="action">
                <a class="moveup" title="{% trans %}Move up{% endtrans %}" href="{{ path('routing_move', {'id': routing.id, 'type': 'up'}) }}">
                    {% trans %}MoveUp{% endtrans %}
                </a>
                <a class="movedown" title="{% trans %}Move down{% endtrans %}" href="{{ path('routing_move', {'id': routing.id, 'type': 'down'}) }}">
                    {% trans %}MoveDown{% endtrans %}
                </a>
                <a class="{{ publish|lower }}" title="{{ publish|trans }}" href="{{ path('routing_publish', {'id': routing.id}) }}">
                    {{ publish|trans }}
                </a>
                <a class="edit" title="{% trans %}Edit{% endtrans %}" href="{{ path('routing_edit', {'id': routing.id}) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
                <a class="remove" onclick="return confirm('{% trans %}Confirm delete routing{% endtrans %}');" title="{% trans %}Remove{% endtrans %}" href="{{ path('routing_remove', {'id': routing.id}) }}">
                    {% trans %}Remove{% endtrans %}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
<div id="actions">
    <a href="{{ path('routing_new') }}">{% trans %}New{% endtrans %}</a>
</div>
{% endblock body %}
