{% extends "GenemuDoctrineExtraBundle::base.html.twig" %}

{% block links %}
<link href="{{ asset('bundles/genemudoctrineextra/css/base.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/genemudoctrineextra/css/index.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock links %}

{% block body %}
<ul id="routings">
    {% for routing in routings %}
        {% set publish = routing.publish?'Unpublish':'Publish' %}
        <li class="routing {{ loop.index is divisibleby(2)?'even':'odd' }}">
            <div class="description">
                <p>
                    <strong>{{ routing.name }}:</strong>
                </p>
                <p class="name">
                    <strong>{% trans %}patterns{% endtrans %}:</strong>
                    <span>{ </span>
                    {% for pattern in routing.patterns %}
                        <strong>{{ pattern.locale }}:</strong>
                        <span>{{ pattern.name }}{{ loop.last?'':', ' }}</span>
                    {% endfor %}
                    <span> }</span>
                </p>
                <p class="name">
                    <strong>{% trans %}defaults{% endtrans %}:</strong>
                    <span>{ </span>
                    <strong>{% trans %}_controller{% endtrans %}:</strong>
                    <span>{{ routing.method }}</span>
                    {% for parameter in routing.routingparameters %}
                        {% if parameter.defaultValue %}
                            <span>, </span>
                            <strong>{{ parameter.name }}:</strong>
                            <span>{{ parameter.defaultValue }}</span>
                        {% endif %}
                    {% endfor %}
                    <span> }</span>
                </p>
                <p class="name">
                    <strong>{% trans %}requirements{% endtrans %}:</strong>
                    <span>{ </span>
                    {% for parameter in routing.routingparameters %}
                        {% if parameter.requirement %}
                            <strong>{{ parameter.name }}:</strong>
                            <span>{{ parameter.requirement }}{{ loop.last?'':', ' }}</span>
                        {% endif %}
                    {% endfor %}
                    <span> }</span>
                </p>
                <p class="name">
                    <strong>{% trans %}template{% endtrans %}:</strong>
                    <span>{{ routing.view }}</span>
                </p>
            </div>
            <div class="action">
                <a class="moveup" title="{% trans %}Move up{% endtrans %}" href="{{ path('routing_move', {'id': routing.id, 'type': 'up'}) }}">
                    {% trans %}MoveUp{% endtrans %}
                </a>
                <a class="movedown" title="{% trans %}Move down{% endtrans %}" href="{{ path('routing_move', {'id': routing.id, 'type': 'down'}) }}">
                    {% trans %}MoveDown{% endtrans %}
                </a>
                <a class="{{ publish|lower }}" title="{{ publish|trans }}" href="{{ path('routing_publish', {'id': routing.id}) }}">
                    {{ publish|trans }}
                </a>
                <a class="edit" title="{% trans %}Edit{% endtrans %}" href="{{ path('routing_edit', {'id': routing.id}) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
                <a class="remove" onclick="return confirm('{% trans %}Confirm delete routing{% endtrans %}');" title="{% trans %}Remove{% endtrans %}" href="{{ path('routing_remove', {'id': routing.id}) }}">
                    {% trans %}Remove{% endtrans %}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
<div id="actions">
    <a href="{{ path('routing_new') }}">{% trans %}New{% endtrans %}</a>
</div>
{% endblock body %}
